@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <form class="form-inline justify-content-center mb-6" method="post">
        <input class="form-control" asp-for="region" type="text" aria-label="Sehir ara" />
        <button class="btn btn-primary">Ara</button>
    </form>
    <div class="justify-content-center">
        <h6>C => Uyelik, baslik, gonderi olusturma islemleri.</h6>
        <h6>R => Veritabanindaki gonderi ve kullanici bilgilerinin okunmasi.</h6>
        <h6>U => Kullanici bilgilerinin, gonderilerin guncellenebilmesi.</h6>
        <h6>D => Moderasyon ekibi veya kullanicilar tarafindan uyelik, baslik veya gonderilerin kaldirilmasi.</h6>
    </div>
    <section class="vh-100" style="background-color: white;">
        <div class="container py-5 h-100">

            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-8 col-lg-6 col-xl-4">

                    <div class="card" style="color: #4B515D; border-radius: 35px;">
                        <div class="card-body p-4">

                            <div class="d-flex">
                                <h6 class="flex-grow-1">@Model.region</h6>
                                <h6>@Model.time</h6>
                            </div>

                            <div class="d-flex flex-column text-center mt-5 mb-4">
                                <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> @Model.celcius °C </h6>
                                <span class="small" style="color: #868B94">@Model.expression</span>
                            </div>

                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1" style="font-size: 1rem;">
                                    <div>
                                        <i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1">
                                            @Model.wind km/h
                                        </span>
                                    </div>
                                    <div>
                                        <i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> @Model.humidity% </span>
                                    </div>
                                    <div>
                                        <i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1"> 0.2h </span>
                                    </div>
                                </div>
                                <div>
                                    <img src=@Model.iconsrc
                                         width="100px">
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    
</div>
